[tool.isort]
line_length = 120
profile = 'black'
py_version=38
skip_glob = [
  ".venv/**",
  "br-*/**",
  "branch-*/**",
  "libs/**",
  "resources/**",
  "stubs/**",
  "typings/**",
  "vendor/**",
  "venv/**",
]

[tool.pycln]
all = true
exclude = '(\.git|\.?venv|\.mypy_cache|br-.*|branch-.*|libs|stubs|typings|node_modules)/'

[tool.black]
line-length = 120
target-version = ['py38']
exclude = '''
/(
  \.git |
  language-server |
  plugin/libs |
  resources |
  stubs
)/
'''

[tool.pyright]
pythonVersion = '3.11'

[tool.ruff]
select = ["E", "F", "W"]
line-length = 120
target-version = 'py38'
