[tool.isort]
line_length = 120
profile = 'black'
py_version = 38
skip_glob = [
  ".venv/**",
  ".venv-*/**",
  "br-*/**",
  "branch-*/**",
  "libs/**",
  "resources/**",
  "stubs/**",
  "typings/**",
  "vendor/**",
  "venv/**",
  "venv-*/**",
]

[tool.autoflake]
quiet = true
recursive = true
remove-all-unused-imports = true
exclude = '\.git,\.?venv(-.*)?,\.mypy_cache,br-.*,branch-.*,libs,stubs,tests/files,typings'

[tool.black]
preview = true # use latest feature
line-length = 120
target-version = ['py38']
exclude = '''
/(
  \.git |
  \.venv(-.*)? |
  language-server |
  plugin/libs |
  resources |
  stubs |
  typings |
  _resources
)/
'''

[tool.pyright]
pythonVersion = '3.11'

[tool.ruff]
select = ["E", "F", "W"]
line-length = 120
target-version = 'py38'
